<html>
    <head>
        <title>Controller Sample</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
    </head>
    <body>
        <div id="main-wrapper">
            <div id="arm-control-wrapper">
                <div class="grid-item">
                    <img src="TriangleArrow-Up.svg" class="arrow-image arrow-vert">
                </div>
                <div class="grid-item">
                    <img src="robotic-arm.svg" id="robotic-arm-icon">
                </div>
                <div class="grid-item">
                    <img src="TriangleArrow-Down.svg" class="arrow-image arrow-vert">
                </div>
            </div>
            <div id="directional-wrapper">
                <div class="grid-item"></div>
                <div class="grid-item">
                    <img src="TriangleArrow-Up.svg" class="arrow-image arrow-vert">
                </div>
                <div class="grid-item"></div>
                <div class="grid-item">
                    <img src="TriangleArrow-Left.svg" class="arrow-image arrow-hor">
                </div>
                <div class="grid-item">
                    <img src="Parking_brake-indication.svg" class="circle-centre">
                </div>
                <div class="grid-item">
                        <img src="TriangleArrow-Right.svg" class="arrow-image arrow-hor">
                </div>
                <div class="grid-item"></div>
                <div class="grid-item">
                    <img src="TriangleArrow-Down.svg" class="arrow-image arrow-vert">
                </div>
                <div class="grid-item"></div>
            </div>
        </div>

    </body>
</html>